<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Makan Mantap for find your restaurant">
    <link rel="apple-touch-icon" href="/icons/196.png">
    <meta name="theme-color" content="#db0000"/>
    <link rel="manifest" href="manifest.json">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="icon" href="favicon.png">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Makan Mantap</title>
</head>
<body>
  <a href="#restaurants" class="skip-link">Menuju ke konten Restoran</a>
    <header class="app-bar">
        <div class="app-bar__menu">
          <button id="hamburgerButton">☰</button>
        </div>
        <div class="app-bar__brand">
          <h1>Makan Mantap</h1>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#/like">Favorite</a></li>
            <li><a target="_blank" href="https://github.com/zikazama">About</a></li>
          </ul>
        </nav>
      </header>
      <main id="mainContent"></main>
      <footer>
        <p><a href="/" rel="noreferrer"> Copyright © 2021 - Makan Mantap</a></p>
      </footer>
</body>
</html>